
<div class="main-content">
    {{>header }}
    <p> {{ text }} !!!</p>
    <form>
        <input type="text" name="address" placeholder="Location">
        <button>Search</button>
    </form>
    <p id="msg1"></p>
    <p id="msg2"></p>
</div>
<script src= "/js/index.js"></script>
{{>footer }}